<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hola <%= @user.name %></h1>
    <p>
      Hubo una solicitud de restablecimiento de contraseña. Siga las instrucciones a continuacion para restablecerla.
    </p>
    <p>
      Para restablecer la contraseña vaya al siguiente link: <%= link_to @url %>.
    </p>
    <p>
    	Si no funciona el link, pruebe copiando y pegando la direccion en el navegador, si aun tiene inconvenientes, por favor <%= link_to 'contactenos', contacto_path %> o en el tel. 2574241 
   <br/><br/>
      Su nombre de usuario es: <%= @user.email %>.
    </p>
    <p>Gracias por usar nuestro servicio.</p>
  </body>
</html>