<div class="eleven columns centered">
	<div class="panel"><h5>Empresa</h5></div>
	HISTORIA

Desde el año 2010 llevamos practicidad y la mejor calidad a los hogares colombianos; atentos a
ofrecer el mejor servicio y los mejores precios, siempre.

En nuestra tienda física (Calle 93 Nº 13-28) y ahora en nuestra tienda online, es posible encontrar
productos Tramontina de diferentes segmentos: ollas y sartenes, cuchillos, cubiertos, jardinería,
lavaplatos, herramientas y muebles. Productos originales y con el respaldo total de garantía.

INOX DO BRASIL, conocida como “la tienda de Tramontina”, es sin duda, el lugar ideal para
quien busca calidad, buen gusto y los mejores precios con la marca TRAMOTINA.

MISION

Satisfacer las necesidades de clientes y consumidores con productos Tramontina y atención
diferenciados.

VISION

Ser reconocidos por la excelencia en el servicio y la variedad de productos Tramontina.

VALORES

Honestidad

Dedicación

Atención a los detalles
	
	</div>	    