<div class="eleven columns centered">
	<div class="panel"><h5>Empresa</h5></div>
<div class="twelve column centered">
	<% @page.each do |page| %>
		<%= raw page.description %>
		<%end%>
	<br /><br />	
</div>
	</div>	    