<!DOCTYPE html>
<html>
  <head>
    <title>Store | Resultado de la transaccion</title>
  </head>
  <body>
    <h2>Resultado POL </h2>
    <p>
      Aqui van los datos de la transaccion de POL
    </p>
  </body>
</html>