<%= render :partial => '/admin/merchandise/sub_header'%>

<h3>Nueva Propiedad</h3>

<p>
  Un ejemplo de "Nombre identificador" es 'producto-color'.<br/>
  El "Nombre mostrado" es el que se va a mostrar al cliente para esta propiedad. En este caso 'color'.
</p>

<%= form_for @property, :url  => admin_merchandise_properties_path do |form| %>
  <%= render :partial => '/admin/merchandise/properties/form', :locals => {:form => form } %>
  <div class=" generic_submit_button">
    <%= submit_tag "Crear", :class => "button", :id => "create_property_button" %>
  </div>
<% end %>