<div><%= image_tag('footer formas de pago-01.jpg') %></div>
<footer class="footer">
   <ul class="left_links">
      <li><%= link_to "Sugerencias y reclamos", '#' %></li>
      <li><%= link_to "Terminos y condiciones", terms_path %></li>
      <li>Inox do Brasil ©2013</li>
    </ul>
</footer>