<div class="panel"><h5>Categorias</h5></div>
<dl class="nice vertical tabs">
  <% product_types.each do |pt_tab| %>
  	<%if pt_tab.children.empty?%>
  		<dd><%=link_to pt_tab.name, products_path(:product_type_id => pt_tab.id)%> </dd>
  	<% else %>
    	<dd class="topic"><%=link_to pt_tab.name, products_path(:product_type_id => pt_tab.id)%> </dd>
    <%end%>	
    <% pt_tab.children.each do |ptchildren| %>
    	<dd class="subtopic"><%=link_to ptchildren.name, products_path(:product_type_id => ptchildren.id) %> </dd>
    	<% ptchildren.children.each do |ptsubchildren| %>
			<%if ptsubchildren.children.empty?%>
				<dd class="undersubtopic"><%=link_to ptsubchildren.name, products_path(:product_type_id => ptsubchildren.id) %> </dd>
			<%end%>
		<%end%>	
	<%end%>  				
  <% end %>
</dl>