<div class="twelve columns centered">
	<div class="panel"><h5>Direcciones</h5></div>
	<ul style="list-style-type: none">
  	<% for address in @addresses %>
    	<li>
      	<div class="six columns">
     			<%= render :partial => '/shared/compact_address', :locals => { :shopping_address => address } %>
      		<%= link_to "Editar", edit_myaccount_address_path(address) %> 
      		<%= link_to "Eliminar", myaccount_address_path(address), :confirm => 'Esta seguro?', :method => :delete %>
     		</div>
    	</li>
  	<% end %>
	</ul>
	<div class="row">
		<div class="twelve columns">
			<p><%= link_to "Nueva direccion", new_myaccount_address_path, :class => 'radius button'%></p>
		</div>
	</div>
</div>