<div class="twelve columns centered">
	<div class="panel"><h5>Nueva direccion</h5></div>
<div class="six columns centered">
	<%= form_for(@address, :url => myaccount_addresses_path(@address)) do |f| %>
  	<%= render :partial => 'form', :locals => {:f => f} %>
	<% end %>
  <%= link_to 'Volver a la lista', myaccount_addresses_path, :class => 'radius button', :style => 'float:right; margin:10px 0 20px 0'%>
</div>
</div>
