<fieldset>
  <label>Nombre</label>
  <%= form.text_field :name %>

  <label>Activo</label>
  <%= form.check_box :active %>
</fieldset>

<fieldset>
  <legend>Propiedades</legend>
  <div id="prototype_properties">
    <%= render :partial => "property_form", :locals => { :form => form } %>
  </div>
</fieldset>