<h3>Nueva Cuenta</h3>

<%= form_for( @account, :url => admin_config_accounts_path) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= f.submit "Crear", :class => "button" %>
<% end %>

<%= link_to 'Atras', admin_config_accounts_path, :class => 'button' %>

