<h1>Nueva Direccion para<%= @order.user.name %> </h1>

<%= form_for(@address, :url => admin_history_order_addresses_path(@order)) do |f| %>
  <%= render :partial => '/admin/history/addresses/form', :locals => {:f => f } %>
<% end %>

<%= link_to 'Volver', admin_history_order_path(@order) %>
