<%= render :partial => '/admin/merchandise/sub_header'%>

<h3>Nueva categoria</h3>

<p>
  Las categorias estan en estructura de arbol. Por ejemplo si crea una llamada "destornilladores" esta debe ser hija de una categoria llamada "herramientas".
</p>

<%= form_for @product_type, :url  => admin_merchandise_product_types_path do |form| %>
  <%= render :partial => '/admin/merchandise/product_types/form', :locals => {:form => form, :button_action => "Create"}%>
<% end %>