<% if @tax_category.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@tax_category.errors.count, "error") %> Problema al guardar la categoria de impuesto:</h2>

    <ul>
    <% @tax_category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<fieldset>
  <label>Nombre</label>
  <%= f.text_field :name %>

</fieldset>

<%= f.submit "Crear", :class => "button" %>

