
<li class="dropdown">
<a id="drop1" class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
Dropdown
<b class="caret"></b>
</a>
<ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
<li>
<a href="http://google.com" tabindex="-1">Action</a>
</li>
<li>
<a href="#anotherAction" tabindex="-1">Another action</a>
</li>
<li>
<a href="#" tabindex="-1">Something else here</a>
</li>
<li class="divider"></li>
<li>
<a href="#" tabindex="-1">Separated link</a>
</li>
</ul>
</li>
<li class="dropdown open">
<a id="drop2" class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
Dropdown 2
<b class="caret"></b>
</a>
<ul class="dropdown-menu" aria-labelledby="drop2" role="menu">
<li>
<a href="#" tabindex="-1">Action</a>
</li>
<li>
<a href="#" tabindex="-1">Another action</a>
</li>
<li>
<a href="#" tabindex="-1">Something else here</a>
</li>
<li class="divider"></li>
<li>
<a href="#" tabindex="-1">Separated link</a>
</li>
</ul>
</li>
</ul>
<ul class="nav pull-right">
<li id="fat-menu" class="dropdown">
<a id="drop3" class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
Dropdown 3
<b class="caret"></b>
</a>
<ul class="dropdown-menu" aria-labelledby="drop3" role="menu">
<li>
<a href="#" tabindex="-1">Action</a>
</li>
<li>
<a href="#" tabindex="-1">Another action</a>
</li>
<li>
<a href="#" tabindex="-1">Something else here</a>
</li>
<li class="divider"></li>
<li>
<a href="#" tabindex="-1">Separated link</a>
</li>
</ul>
</li>
</ul>

<!--<li class="has-flyout">
  <%= link_to "Help", admin_help_path %>
  <a href="#" class="flyout-toggle"><span></span></a>
  <ul class="flyout">
    <li><%= link_to 'Help', admin_help_path %></li>
  </ul>
</li>-->