<h3>Editar Direccion</h3>

<%= form_for(@shopping_address, :url => shopping_address_path(@shopping_address)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>


<%= link_to 'Volver', shopping_addresses_path %>