<div class="admin_title_header">
  <h3>Zonas de envio</h3>
  <%= link_to 'Nueva zona de envio', new_admin_config_shipping_zone_path, :class => 'button' %>
</div

<div class="admin_shipping_zones">
  <table>
    <thead>
    <tr class='odd'>
      <th class='column1_header'>Nombre</th>
      <th></th>
    </tr>
    </thead>

  <% @shipping_zones.each do |shipping_zone| %>
    <tr class='<%= cycle("odd", "")%>'>
      <td><%= link_to shipping_zone.name, edit_admin_config_shipping_zone_path(shipping_zone) %></td>
      <td><%= link_to "Editar", edit_admin_config_shipping_zone_path(shipping_zone) %></td>
    </tr>
  <% end %>
  </table>
</div>

