<div class="twelve columns centered">
<div class="panel"><h5>Editar Perfil</h5></div>
	<%= form_for current_user, :url => myaccount_overview_path, :method => 'PUT' do |f| %>
  	<%=  render :partial => 'form', :locals => {:f => f} %>
  	<div class="actions"><%= f.submit 'Actualizar' , :class => 'button' %></div>
		<% end %>
</div>
