<h3>Editar Pagina estatica</h3> <%= link_to 'Volver al listado', admin_staticpages_path, :class => 'radius button', :style => "float:right; margin-top: -45px" %>
<%= form_for @page, :url  => admin_staticpage_path(@page) do |f| %>
<%= render :partial => '/admin/staticpages/form', :locals => {:f => f} %>
 <%= f.submit "actualizar", :class  => "button" %>
  <% end %>